#Tittle {
  font-size: 35px;
}

header div {
  text-align: center;
}

#nav{
  width: 100%;
}

#home, #ajout{
  margin-left: 2%;
}

#tableau{
  width: 90%;
margin: auto;
margin-top: 5%;
margin-bottom: 7%;

}

#divboutton{
  margin: 2%;
}

#changecolor{
  color:#000;
}
